In [ ]:
from sqlalchemy import create_engine
from dotenv import load_dotenv
import pandas as pd
import os

# Load environment variables from .env file
load_dotenv()

In [ ]:
# Get environment variables
db_server = os.getenv('DB_SERVER')
db_name = os.getenv('DB_NAME')

# Create SQLAlchemy engine with Windows Authentication for localhost
try:
    connection_string = f"mssql+pyodbc://{db_server}/{db_name}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
    engine = create_engine(connection_string)
except Exception as e:
    print(f'This was an error connecting to the DB: {e}')

In [ ]:
df = pd.read_csv('../data/interm/NASA_NEO.csv')

In [ ]:
def upload_dataframe_to_sql(dataframe, table_name):
    """
    Uploads a Pandas DataFrame to a SQL Server database table.
    
    Args:
    dataframe (pd.DataFrame): The DataFrame to upload.
    table_name (str): Name of the SQL table.
    
    Returns:
    None
    """
    
    # Get environment variables
    db_server = os.getenv('DB_SERVER')
    db_name = os.getenv('DB_NAME')
    
    # Create SQLAlchemy engine with Windows Authentication for localhost
    connection_string = f"mssql+pyodbc://{db_server}/{db_name}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
    engine = create_engine(connection_string)
    
    # Upload DataFrame to SQL Server
    try:
        with engine.connect() as connection:
            # Use pandas to_sql function to upload DataFrame to SQL Server
            dataframe.to_sql(table_name, connection, index=False, if_exists='append')
        
        print(f"DataFrame successfully uploaded to {table_name} table.")
    except Exception as e:
        print(f'Upload to DB table failed with error: {e}')

In [ ]:
neo_df = pd.read_csv('../data/interm/NASA_NEO.csv')

# Table name
table_name = 'near_earth_objects'

upload_dataframe_to_sql(neo_df, table_name)