In [1]:
from botocore.exceptions import NoCredentialsError, PartialCredentialsError, ClientError
from dotenv import load_dotenv
from loguru import logger
from io import StringIO
import pandas as pd
import boto3
import os

In [2]:
load_dotenv()

True

In [3]:
bucket_name = 'neo-pipeline'
file_name = 'neo_interm_data.csv'

In [ ]:
df = pd.read_csv('../data/raw/NASA_Near_Earth_Objects.csv')

In [ ]:
csv_buffer = StringIO()
df.to_csv(csv_buffer, index=False)

In [4]:
try:
    # Create an S3 client
    s3_client = boto3.client(
        's3',
        aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'),
        aws_secret_access_key=os.getenv('AWS_SECRET_ACCESS_KEY')
    )
except NoCredentialsError:
    logger.error("No AWS credentials found.")
except PartialCredentialsError:
    logger.error("Incomplete credentials AWS credentials found.")
except ClientError as e:
    logger.error(f"Client error occurred: {e}")
    raise
except Exception as e:
    logger.error(f"An unexpected error occurred: {e}")
    raise

In [ ]:
# Upload the CSV file
response = s3_client.put_object(
    Bucket=bucket_name,
    Key="interm/" + file_name, # Include the desired path within the bucket as part of the key
    Body=csv_buffer.getvalue()
)

### Check if the data in the S3 processed folder looks right

In [5]:
# Connect to the processed folder in the bucket and get the csv file
response = s3_client.get_object(
    Bucket=bucket_name,
    Key="processed/" + file_name
)

# Read the csv file
df = pd.read_csv(response['Body'])

In [6]:
df.head(35)

,id,official_name,short_name,absolute_magnitude_h,is_potentially_hazardous_asteroid,is_sentry_object,kilometers_estimated_diameter_min,kilometers_estimated_diameter_max,perihelion_distance,aphelion_distance,first_date_detected,last_date_detected,orbit_class_description
0,2001981,1981 Midas (1973 EA),Midas,15.22,True,False,2.401900,5.370812,0.621512,2.931360,1973-03-06,2021-10-20,Near-Earth asteroid orbits which cross the Ear...
1,2002101,2101 Adonis (1936 CA),Adonis,18.64,True,False,0.497227,1.111834,0.441899,3.305989,1936-02-21,2020-06-09,Near-Earth asteroid orbits which cross the Ear...
2,2002102,2102 Tantalus (1975 YA),Tantalus,16.00,True,False,1.677085,3.750075,0.903997,1.676122,1975-12-30,2021-09-22,Near-Earth asteroid orbits which cross the Ear...
3,2002135,2135 Aristaeus (1977 HA),Aristaeus,18.02,True,False,0.661538,1.479245,0.794616,2.404383,1977-04-17,2020-05-30,Near-Earth asteroid orbits which cross the Ear...
4,2002201,2201 Oljato (1947 XC),Oljato,15.25,True,False,2.368945,5.297122,0.624199,3.724973,1931-12-03,2021-09-16,Near-Earth asteroid orbits which cross the Ear...
5,2002340,2340 Hathor (1976 UA),Hathor,20.33,True,False,0.228326,0.510552,0.464170,1.223264,1976-10-25,2019-01-24,Near-Earth asteroid orbits similar to that of ...
6,2003122,3122 Florence (1981 ET3),Florence,14.04,True,False,4.135757,9.247833,1.020047,2.517285,1979-03-09,2021-07-01,Near-Earth asteroid orbits similar to that of ...
7,2003200,3200 Phaethon (1983 TB),Phaethon,14.40,True,False,3.503926,7.835018,0.140146,2.402658,1983-10-27,2021-10-22,Near-Earth asteroid orbits which cross the Ear...
8,2003361,3361 Orpheus (1982 HR),Orpheus,19.39,True,False,0.352010,0.787118,0.819393,1.601799,1982-04-24,2022-02-10,Near-Earth asteroid orbits which cross the Ear...
9,2003362,3362 Khufu (1984 QA),Khufu,18.30,True,False,0.581507,1.300289,0.525952,1.453147,1984-08-30,2004-11-27,Near-Earth asteroid orbits similar to that of ...
10,2003671,3671 Dionysus (1984 KD),Dionysus,16.49,True,False,1.338305,2.992540,1.008697,3.389363,1984-05-27,2022-01-06,Near-Earth asteroid orbits which cross the Ear...
11,2003757,3757 Anagolay (1982 XB),Anagolay,18.90,True,False,0.441118,0.986370,1.016900,2.652708,1982-12-14,2019-09-19,Near-Earth asteroid orbits which cross the Ear...
12,2004015,4015 Wilson-Harrington (1979 VA),Wilson-Harrington,16.02,True,False,1.661709,3.715694,0.966713,4.282825,1949-11-19,2022-04-05,Near-Earth asteroid orbits which cross the Ear...
13,2004034,4034 Vishnu (1986 PA),Vishnu,18.41,True,False,0.552783,1.236061,0.589099,1.529969,1986-08-02,2021-09-11,Near-Earth asteroid orbits which cross the Ear...
14,2004179,4179 Toutatis (1989 AC),Toutatis,15.31,True,False,2.304385,5.152761,0.956143,4.133568,1934-02-10,2022-04-10,Near-Earth asteroid orbits which cross the Ear...
15,2004183,4183 Cuno (1959 LM),Cuno,14.13,True,False,3.967848,8.872377,0.723559,3.243625,1959-06-05,2021-11-03,Near-Earth asteroid orbits which cross the Ear...
16,2004450,4450 Pan (1987 SY),Pan,17.16,True,False,0.983003,2.198062,0.596507,2.288075,1937-02-06,2022-01-01,Near-Earth asteroid orbits which cross the Ear...
17,2004486,4486 Mithra (1987 SB),Mithra,15.53,True,False,2.082356,4.656290,0.742162,3.657273,1987-01-29,2022-03-23,Near-Earth asteroid orbits which cross the Ear...
18,2004581,4581 Asclepius (1989 FC),Asclepius,20.79,True,False,0.184737,0.413086,0.657689,1.387744,1989-03-31,2021-04-18,Near-Earth asteroid orbits which cross the Ear...
19,2004660,4660 Nereus (1982 DB),Nereus,18.67,True,False,0.490405,1.096579,0.952332,2.018765,1981-09-30,2022-04-12,Near-Earth asteroid orbits which cross the Ear...
20,2004769,4769 Castalia (1989 PB),Castalia,17.48,True,False,0.848311,1.896881,0.549533,1.576808,1989-08-01,2021-07-07,Near-Earth asteroid orbits which cross the Ear...
21,2004953,4953 (1990 MU),1990_MU,15.02,True,False,2.633631,5.888979,0.555333,2.687900,1974-07-21,2021-08-28,Near-Earth asteroid orbits which cross the Ear...
22,2005011,5011 Ptah (6743 P-L),Ptah,16.36,True,False,1.420872,3.177167,0.817546,2.454125,1960-09-24,2021-07-20,Near-Earth asteroid orbits which cross the Ear...
23,2005189,5189 (1990 UQ),1990_UQ,17.84,True,False,0.718712,1.607089,0.809661,2.293682,1990-10-20,2022-01-31,Near-Earth asteroid orbits which cross the Ear...
24,2005604,5604 (1992 FE),1992_FE,17.27,True,False,0.934448,2.089488,0.551516,1.305619,1976-04-23,2020-03-24,Near-Earth asteroid orbits similar to that of ...
25,2005693,5693 (1993 EA),1993_EA,16.75,True,False,1.187285,2.654850,0.527121,2.014753,1984-01-10,2022-04-09,Near-Earth asteroid orbits which cross the Ear...
26,2006037,6037 (1988 EG),1988_EG,18.78,True,False,0.466181,1.042413,0.636143,1.906177,1988-03-12,2021-06-09,Near-Earth asteroid orbits which cross the Ear...
27,2006239,6239 Minos (1989 QF),Minos,18.49,True,False,0.532789,1.191352,0.676204,1.626195,1983-01-14,2021-01-10,Near-Earth asteroid orbits which cross the Ear...
28,2006489,6489 Golevka (1991 JX),Golevka,19.20,True,False,0.384198,0.859093,0.963120,4.008128,1991-04-15,2015-11-03,Near-Earth asteroid orbits which cross the Ear...
29,2006491,6491 (1991 OA),1991_OA,18.70,True,False,0.483676,1.081534,1.024167,3.978244,1991-03-18,2019-10-08,Near-Earth asteroid orbits similar to that of ...
30,2007335,7335 (1989 JA),1989_JA,17.63,True,False,0.791690,1.770272,0.913457,2.628023,1989-04-06,2022-04-14,Near-Earth asteroid orbits which cross the Ear...
31,2007341,7341 (1991 VK),1991_VK,16.98,True,False,1.067960,2.388031,0.910031,2.775637,1991-09-12,2022-04-14,Near-Earth asteroid orbits which cross the Ear...
32,2007482,7482 (1994 PC1),1994_PC1,16.58,True,False,1.283970,2.871045,0.904197,1.793496,1974-09-22,2022-03-26,Near-Earth asteroid orbits which cross the Ear...
33,2007753,7753 (1988 XB),1988_XB,17.96,True,False,0.680072,1.520688,0.760409,2.173651,1988-12-05,2021-04-02,Near-Earth asteroid orbits which cross the Ear...
34,2007822,7822 (1991 CS),1991_CS,17.31,True,False,0.917392,2.051351,0.937998,1.307572,1991-01-19,2022-04-15,Near-Earth asteroid orbits which cross the Ear...